<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oxygen.wall"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- SD卡加载权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name="com.oxygen.server.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="W6yAcqrbU5ZI9QEeh0nszHm1" />

        <activity
            android:name="com.oxygen.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/myTheme" >
        </activity>
        <activity
            android:name="com.oxygen.main.LoadingActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.oxygen.wall.WallCommentActivity"
            android:theme="@style/myTheme" >
        </activity>
        <activity
            android:name="com.oxygen.my.MyTimeLineActivity"
            android:theme="@style/myTheme" >
        </activity>
        <activity
            android:name="com.oxygen.my.MyUserInfoActivity"
            android:theme="@style/myTheme" >
        </activity>
        <activity
            android:name="com.oxygen.my.MySettingActivity"
            android:theme="@style/myTheme" >
        </activity>
        <activity
            android:name="com.oxygen.my.MyInfoActivity"
            android:theme="@style/myTheme" >
        </activity>
        <activity
            android:name="com.oxygen.my.MyAboutActivity"
            android:theme="@style/myTheme" >
        </activity>
        <activity
            android:name="com.oxygen.my.MyUserGuide"
            android:theme="@style/myTheme" >
        </activity>
        <activity
            android:name="com.oxygen.my.MyLoginActivity"
            android:theme="@style/myTheme" >
        </activity>
        <activity
            android:name="com.oxygen.my.MyRegisterActivity"
            android:theme="@style/myTheme" >
        </activity>
        <activity
            android:name="com.oxygen.my.MyWallInfoActivity"
            android:theme="@style/myTheme" >
        </activity>
        
        <activity
            android:name="com.oxygen.my.MyMessageActivity"
            android:theme="@style/myTheme" >
        </activity>
        
         <activity
            android:name="com.oxygen.my.MyZanActivity"
            android:theme="@style/myTheme" >
        </activity>
        
          <activity
            android:name="com.oxygen.my.MyCommentActivity"
            android:theme="@style/myTheme" >
        </activity>
        
        <activity
            android:name="com.oxygen.ar.ARWallCreateActivity"
            android:theme="@style/myTheme"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <!-- 定位服务组件 -->
        <!-- :remote 为每个APP应用单独设置service ，若remote前不加分号，为全局service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>
    </application>

</manifest>